:root {
    --font-family-base: 'Lato', sans-serif;
    --font-family-alt: 'Open Sans', sans-serif;

    --color-light: #ffffff;
    --color-light-opacity: rgba(255, 255, 255, 0);
    --color-dark: #000000;
    --color-gray: #F8F8F8;
    --color-gray-text: #8E8B8C;

    --shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);

    --border-radius: 10px;

    --container-width: 1300px;
    --container-padding-x: 20px;

    --mini-container-height: 386px;

    --transition-duration: 0.3s;
}
